.bio {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    
    
    @media (min-width:toEm(768)){
        height: 100svh !important;
        position: sticky;
        top: 0;
        flex: 0 0 33.333%;
        width: 33.333%;
        overflow: auto;
    }
    
    &__images {
        overflow: hidden;
        min-height: toRem(200);
        & img {
            @include adeptiveImages($width: 2560, $height: 1920, $objectPosition: right, $obFit: cover);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 30,20);
        }
    }

    &__name {
        padding: 0 toRem(5);
        @include adaptiveValue("font-size", 40, 30);
        line-height: 1.2; /* 48/40 */
        font-weight: 600;
        color: $textColor;  &:not(:last-child) {
            margin-bottom: toEm(15,40);
        }
    }

    &__profession {
        padding: 0 toRem(5);
        @include adaptiveValue("font-size", 24, 20);
        line-height: 1.2; /* 48/40 */
        font-weight: 600;
        color: #fff;
        &:not(:last-child) {
            margin-bottom: toEm(12,24);
        }
        @media (min-width:toEm(768)){
            flex: 1 1 auto;
        }
    }

    &__action {}
}


.about {
    @include adaptiveValue("padding-bottom", 48,28);
    border-bottom:toRem(1) solid rgba(255,255,255,0.1) ;

    &__title {
        &:not(:last-child) {
            margin-bottom: toEm(30,40);
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__info {
        
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
}

.info-about {

    &__items {
        display: grid;
       
        @media (min-width:toEm(576)){
            grid-template-columns: repeat(2,1fr);
            margin: toRem(-4) toRem(-12);
        }
       
        
    }

    &__item {
        color:$textColor ;
       
        font-weight: 500;
        line-height: 1.5; /* 24/16 */
      
        & a, & span {
            padding-left: toRem(7);
            color: $mainColor;
           
        }
        & a {
            text-decoration: underline;
            @media (any-hover: hover){
                &:hover{
                   text-decoration: none;
                }
            }
        }
        @media (min-width:toEm(576)){
            padding: toRem(4) toRem(12);
        }
    }
}

.skills {
    
    @include adaptiveValue("padding-bottom", 48,28);
    border-bottom:toRem(1) solid rgba(255,255,255,0.1) ;
    &__title {
        &:not(:last-child) {
            margin-bottom: toEm(30,40);
        }
    }

    &__items {
        display: grid;
        @include adaptiveValue("gap", 20, 10);
        grid-template-columns: repeat(2,1fr);
    }
    
    &__item {
       
    }

}

.item-skills {
    color: $mainColor;
    
    

    &__body {
        display: flex;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    
    }

    &__name {
        line-height: 1.5;
        flex: 1 0 auto;
    }

    &__parcent {
        line-height: 1.5;
    }

    &__progres-bar {
        position: relative;
        display: block;
        width: 100%;
        height: toRem(5);
        background-color: $mainColor;
        & span {
            position: absolute;
                top: 0;
                left: 0;
                background-color: $textColor;
                height: 100%;
        }
    }
}
//========================================================================================================================================================

   
.expericence {
    @include adaptiveValue("padding-bottom", 48,28);
    border-bottom:toRem(1) solid rgba(255,255,255,0.1) ;

    &__title {
        &:not(:last-child) {
            margin-bottom: toEm(30,40);
        }
    }

    &__body {
      
    }

    &__items {
        color: #eee;
        border-left: toRem(2) solid;
       @include adaptiveValue("padding-left", 48, 25);
      @include adaptiveValue("padding-top", 8, 0);
       position: relative;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
}

.item-expericence {

    &__position {
        font-size: toRem(20);
        font-weight: 600;
        line-height: 1.2;
        & i {
            position: absolute;
            left: toEm(-2,);
            transform:rotate(180deg)  ;
        }
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
        & a {
            transition: color 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    color: $textColor;
                }
            }
        }
    }

    &__company {
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__text {
    }
}

